@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido reseteada. Por favor <a asp-page="./Login">haga clic aqui para iniciar sesión</a>.
</p>
